---  
layout: default.njk
---

<section id="about-me" class="about">
        <img src="https://raw.githubusercontent.com/m-gav/portfolio/master/images/me%20in%20dam.jpeg" class="michael-image">
        <p>I am a front end web developer and designer interested in minimal and brutalist design. After finishing a degree in music production, I decided to change direction and pursue web development fuelled by the creative energy I acquired through my musical endeavors. My other interests include producing electronic music, DJing, watching films, visiting art galleries, and exploring the outdoors.</p>
</section>