---  
layout: default.njk
---

<h2 style="text-align:center;" class="contact-header">contact me</h2>

        <section class="contact-me">
            <form name="contact-form" netlify>
                <label for="name">Name</label>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="textarea">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
            </form>
            <input class="btn btn-primary" type="submit" value="Submit">
        </section>  